#control-bar {
  display: flex;
  justify-content: space-around;
  background-color:lightgray;
  padding: 15px;
  align-items: center;
  border-radius: 4px;
}
#applied-filters {
  display: flex;
  background-color: var(--primary);
  padding: 15px;
  
  .active-filter-option {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 5px;
    
    .active-filter-button {
      border: none;
    }
  }
}