@import "~bootstrap/scss/bootstrap";

:root {
  --primary: #34495E;
  --secondary: aliceblue;
  --dark: #212529;
}

body {
  color: var(--primary);
}

.main{
  padding-bottom:60px;
  text-align: center;
  min-height: 40vw;
  background-color:var(--secondary);
  width: 80%;
  margin: auto;
  padding: 20px;
  color: var(--primary);
}

