@import url('../../App.scss');

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary);
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

input {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 4px;
  transition: 0.7s all;
}

label {
  line-height: 2;
  text-align: center;
  margin-bottom: 13px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 200;
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

button[type="submit"],
input[type="submit"] {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 5px;
  width: 30%;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: var(--dark);
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.7s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.7s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
